@model PersonalProject2.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h2> Patient Database Login Page</h2>
    <div>
        <form asp-action="Login" method="post">
<p>
    <label asp-for="LoginName">Login ID:</label>
    <input asp-for="LoginName" />
</p>
            <p>
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" />
            </p>
            <button type="submit">Enter</button>
</form>
    </div>

    <p>Just adding this to see what I'm working with</p>

</body>
</html>
